# Model Configuration File
# Format: shortname|mode|fullpath
# Modes: local, openai, groq

# Local models (vLLM)
qwen3|local|Qwen/Qwen3-8B
nemotron3|local|nvidia/NVIDIA-Nemotron-3-Nano-30B-A3B-FP8
medgemma-4b|local|google/medgemma-4b-it
MedGemma-text-27B|local|google/medgemma-27b-text-it
MedGemma-27B|local|google/medgemma-27b-it
qwen3-32b|local|Qwen/Qwen3-32B
II-Medical-8b|local|Intelligent-Internet/II-Medical-8B-1706
cure-med-14b|local|Aikyam-Lab/CURE-MED-14B
medgemma1-5-4b|local|google/medgemma-1.5-4b-it

KING MODEL --- med-qwen2-7b|local|Echelon-AI/Med-Qwen2-7B


# OpenAI models
gpt4|openai|gpt-4
gpt35|openai|gpt-3.5-turbo

# Groq models
llama33|groq|llama-3.3-70b-versatile
llama31|groq|llama-3.1-70b-versatile
